body {
    background: aliceblue no-repeat fixed center;
}

h1 {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    color: darkslategray;
}

h2 {
    font-family: Tahoma, Geneva, sans-serif;
    text-align: center;
    color: slategray;
}

h3 {
    font-family: Tahoma, Geneva, sans-serif;
    color: slategray;
    text-align: left; 
}

h5 {
    font-family: Tahome, Geneva, sans-serif;
    color: slategray; 
    text-align: left;
}